<ion-card class="animated bounceInUp" *ngIf="temDados==false && carregando==false">
  <ion-card-content class="ion-text-center">Não há dados</ion-card-content>
</ion-card>

<ion-grid *ngIf="carregando==true">
  <ion-row>
    <ion-col class="animated fadeIn">
      <ion-item>
        <ion-thumbnail slot="start">
          <ion-skeleton-text animated></ion-skeleton-text>
        </ion-thumbnail>
        <ion-label>
          <h3>
            <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
          </h3>
          <p>
            <ion-skeleton-text animated style="width: 85%"></ion-skeleton-text>
          </p>
          <p>
            <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
          </p>
        </ion-label>
      </ion-item>


    </ion-col>

  </ion-row>
</ion-grid>
